coverage
**/node_modules
**/lib/*.js
**/jce/*.js
**/jce/**/*.js
src/utils/**/*.js
src/utils/**/*.d.ts
src/luckbox/*.js
src/luckbox/*.d.ts
src/luckdog/*.js
src/luckdog/*.d.ts
src/presenters/*.js
src/presenters/*.d.ts
src/components/FSPop/*.d.ts
src/components/FSPop/OpHalfPopUp.js
src/components/FSPop/OpHalfWebView.js
src/framework/utils/*.js
src/framework/FeedsConst.js
src/feeds-styles/tab-22/FeedsViewUIStyle429.js
src/feeds-styles/tab-22/FeedsViewUIStyle430.js
src/feeds-styles/tab-22/components/Title.js
src/entity/*.js
