node_modules
.DS_Store
src/.DS_Store
dist
__*
!__tests__
!__mocks__
!__snapshots__
src/**/*.js
index.js
.history
coverage
dwt-*
*.test.js
test/**/*.js
**/__tests__/**/*.js
qcov_*
package/*
showcase.png
